.messageItem {
  list-style-type: none;
  padding: 15px;
  background-color: #f7f7f7;
  border: 1px solid #bdbdbd;
  margin-bottom: 15px;
}

.messageItem:nth-child(2n) {
  color: #5858ff;
  background-color: #d1d1d1;
}

.messsagesList {
  margin: 0;
  padding: 0;
}
